.fun-box
  font-size: 0.58rem
  padding-left: 2.63rem
  margin-top: 15.16rem
  li
    float: left
    margin-right: 0.6rem
    span
      display: inline-block
      padding: 0.55rem
      border-radius: 50%
      border: 0.22rem solid #eeede9
    span.no-like
      color: #d2d2c8
    span.yes-like
      color: #ec5540