.slide-box
  width: 9.44rem
  height: 13rem
  margin: 0.27rem 0.27rem 0.63rem 0.27rem
  border-radius: 2%
  border: 1px solid #e4e3e1
  position: absolute
  top: 1.15rem
  left: 0
  background: #fff
  &:nth-child(1)
    top: 1.15rem
    z-index: 15
  &:nth-child(2)
    transform: scale(.95)
    -ms-transform: scale(.95) 	/* IE 9 */
    -moz-transform: scale(.95) 	/* Firefox */
    -webkit-transform: scale(.95) /* Safari 和 Chrome */
    -o-transform: scale(.95) 	/* Opera */
    top: 1.65rem
    z-index: 10
  &:nth-child(3)
   transform: scale(.9)
   -ms-transform: scale(.9) 	/* IE 9 */
   -moz-transform: scale(.9) 	/* Firefox */
   -webkit-transform: scale(.9) /* Safari 和 Chrome */
   -o-transform: scale(.9) 	/* Opera */
   top: 2.15rem
  img
    width: 100%
    height: 10.41rem
    margin-bottom: 0.34rem
  .picLen
    padding: 0.14rem 0.2rem 0.1rem
    border-radius: 10px
    background: rgba(185, 189, 190, .5)
    font-size: 0.35rem
    color: #fff
    position: absolute
    top: 0.27rem
    left: 0.27rem
    .picMarRig
      margin-right: 0.12rem
  .slide-userInfo
    margin-left: 0.36rem
    h3
      font-size: 0.47rem
      font-weight: bold
      color: #3d3d3d
      margin-bottom: 0.3rem
    label
      padding: 0.11rem 0.19rem 0.07rem
      border-radius: 4px
      font-size: 0.27rem
      color: #fff
      position: relative
      margin-right: 0.19rem
      span
        display: inline-block
        &:nth-child(1)
          position: absolute
          left: 0.17rem
          top: 0.12rem
        &:nth-child(2)
          font-size: 0.35rem
          margin-left: 0.44rem
          color: #fff
        &.sex
          line-height: 0.267rem
        &.ci
          font-size: 0.4rem
          line-height: 0.33rem
    .boy
      background: #b0e0e7
    .girl
      background: #f6c8f9
    .constellation
      background: #ff7700
    .musicNum
      background: #9896ae
  .industry
    display: inline-block
    margin: 0.4rem 0 0 0.36rem
    font-size: 0.3rem
    color: #a9a9a9
