.productBox
  //display: none
  width: 10rem
  height: 17.75rem
  background: #f6f5f1
  position: absolute
  top: 0
  left: 0
  z-index: 10
.title-box
  width: 10rem
  height: 1.18rem
  background: #DD5B4D
  text-align: center
  font-size: 0.42rem
  color: #fff
  position: absolute
  z-index: 10
  h4
    display: inline-block
    height: 1.18rem
    line-height: 1.18rem
    font-size: 0.48rem
  .header-menu
    margin-left: 0.13rem
    font-size: 0.64rem
    line-height: 1.18rem
    float: left
    color: #fff
  .header-chat
    margin-right: 0.13rem
    font-size: 0.64rem
    line-height: 1.18rem
    float: right